.App {
  text-align: center;
  background-color: #CAE8A2;
  min-height: 100vh;
  font-family: "Lexend", sans-serif;
}

/***********************load bar************************************/
.loadbar-container{
  background-color: white;
  height: 100px;
  align-items: center;
  justify-content: center;
  border-radius:0 0 20px 20px;
}

.loadbar-empty-bar{
  position: relative;
  width: 90%;
  height: 30px;
  background-color: #D9D9D9;
  border-radius: 50px;
  overflow: 'hidden';
  margin: 0 auto;
  top: 55px;
}

.loadbar-fill-bar{
  width: 0%;
  height: 100%;
  background-color: #49BA29;
  transition: 'width 0.3s ease-in-out';
  border-radius: 50px;
}

/***********************Suggestions************************************/

.suggestion-page{
  min-height: 100vh;
}

.header-container{
  background-color: white;
  width: 70vw;
  margin: 20px auto;
  border-radius: 20px;
  padding: 10px;
}

.suggestion-list{
  list-style-type:none;
  padding:0px;
  margin:0px;
}

.suggestion-button {
  border-radius: 50px;
  background-color: white;
  margin: 10px;
  font-size: larger;
  padding: 10px 15px;
  border: solid #CAE8A2 5px;
  transition: border 0.2s ease;
}

.suggestion-button:hover {
  background-color: #49BA29;
  border: solid #49BA29 5px;
}

.suggestion-button.active {
  border: solid #49BA29 5px;
}

.next-button{
  background-color: black;
  color: white;
  padding: 5px 10px;
  font-size: medium;
  border-radius: 50px;
}

/******************Activities***********************/
.activity-display-box{
  display: inline-block;
  width: 85vw;
  height: 300px;
  border: 2px solid #49BA29;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.audio-player{
  margin: 0 auto;
}

.playlist-button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: white;
  color: #49BA29;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 5px;
}

.playlist-button:hover {
  background-color: #3a9e24;
  color: white
}
.audio-player {
  width: 100%;
  max-width: 350px;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  margin-bottom: 20px;
}

.audio-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.play-button {
  padding: 10px 20px;
  background-color: #49ba29;
  color: white;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.play-button:hover {
  background-color: #3a9e24;
}

.progress-bar {
  width: 100%;
  height: 10px;
  background-color: white !important;
  border-radius: 5px;
  cursor: pointer;
}

.progress {
  height: 100%;
  background-color: #49ba29 !important;
  border-radius: 5px;
}

.timestamps {
  font-size: 14px;
  color: #555;
}

/******************Journal List***********************/
.journal-header {
  font-weight: bold;
  padding-top: 10px;
}

.calendar {
  padding: 10px 10px;
}

.new-entry-button {
  border-radius: 50px;
  background-color: #49ba29;
  margin: 10px;
  font-size: larger;
  padding: 10px 15px;
  border: solid #CAE8A2 5px;
  transition: border 0.2s ease;
}

.back-button {
  background-color: black;
  color: white;
  padding: 5px 10px;
  font-size: medium;
  border-radius: 50px;
}

.previous-entries-title {
  padding: 10px 2px;
}

.previous-entries {
  border-radius: 20px;
  background-color: white;
  width: 70vw;
  margin: 0 auto;
  padding: 1rem;
}

.entry-date {
  padding: 10px 10px;
}

.home-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: white;
  height: 179px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.header-text {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header-title {
  margin-top: 44px;
  font-size: 42px;
  font-weight: 700;
}

.feel-text {
  color: #49BA29;
}

.emoji-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: white;
  padding-top: 15px;
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.selected-emotion {
  margin-top: 20px;
}

.emoji-img-selected {
  width: 136px;
  height: 136px;
}

.button {
  background-color: black;
  color: white;
  border-radius: 21.5px;
  width: 134px;
  height: 43px;
  font-weight: bold;
}

.mood-name-selected {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  font-size: 24px;
  font-weight: 400;
  height: 36px;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 100px;
  border-radius: 18px;
}